
.rebeStyle {
    width: 15rem;
    height: 20rem;
    background-color: rebeccapurple;
    margin-top: 5rem;
    position: relative;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.blueStyle {    
    width: 15rem;
    width: 20rem;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
}

.redStyle {
    width: 15rem;
    height: 20rem;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 1s;
}

.redStyle:hover {
    transform: rotateY(-180deg);
}